---
layout: layouts/base.njk
title: "Blog posts"
description: "Blog of Guérilla.Studio"
heroRSSLink: true
---

<style>{% include "style/page-posts.css" %}</style>

{% include "components/hero.njk" %}

<div class="container container--medium pb-section">
	<ol reversed class="page-posts:list" role="list">
	{% for post in collections.posts | reverse %}
		<li class="page-posts:item">
			<a class="page-posts:name" href="{{ post.url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>PROBLEM TO REPORT:{{ post.url }}</code>{% endif %}</a>
			<time class="page-posts:date" datetime="{{ post.date | htmlDateString }}"><span aria-hidden="true">—&nbsp;</span>{{ post.date | readableDate("LLLL yyyy") }}</time>
		</li>
	{% endfor %}
	</ol>
</div>
