---
layout: layouts/base.njk
title: "Guérilla.Studio"
---

<style>{% include "style/page-home.css" %}</style>

<div class="hero hero--home">
	<div class="container">
		<div class="hero-content">
			<h1 class="title">
				<span>Independent</span><br><span>Web Software</span>
				<span class="secondary">by a small team of cross-disciplinary web experts</span>
			</h1>
		</div>
	</div>
</div>
<!-- About -->
<section class="page-home:section container">
	<div class="page-home:section_title">
		<h2 id="about">Who we are</h2>
		<a class="anchor" href="#about">
			<span aria-hidden="true">∴</span>
			<span class="visually-hidden">Section titled Who we are</span>
		</a>
	</div>

	<article class="page-home:studio mb-section">
		<h3 class="page-home:studio_tagline title-1">A small french studio by two spiky women <span class="subtitle">to craft great website & software</span></h3>
		<div class="page-home:members">
			<div class="page-home:member">
				<span class="pic">
					<img eleventy:ignore src="/img/tixie.png" srcset="/img/tixie.png 1x, /img/tixie@2x.png 2x, /img/tixie@3x.png 3x" width="185" height="243" alt="">
				</span>
				<div class="content">
					<div class="name">Tixie</div>
					<p class="bio">Interface designer &amp; frontend developer in love with CSS big time</p>
					<div class="links">
						<a href="https://tixie.name">Homepage</a>
						<a href="https://mastodon.guerilla.studio/@tixie">Mastodon</a>
					</div>
				</div>
			</div>
			<div class="page-home:member">
				<span class="pic">
					<img eleventy:ignore src="/img/milia.png" srcset="/img/milia.png 1x, /img/milia@2x.png 2x, /img/milia@3x.png 3x" width="185" height="243" alt="">
				</span>
				<div class="content">
					<div class="name">Milia</div>
					<p class="bio">Fullstack web developer passionate about statically typed languages</p>
					<div class="links">
						<a href="https://wryk.moe">Homepage</a>
						<a href="https://mastodon.guerilla.studio/@milia">Mastodon</a>
					</div>
				</div>
			</div>
		</div>
	</article>
	<article class="layout-12 mb-section relative">
		<h3 class="title-1 sticky">Create quality for the web</h3>
		<div class="writing text-big">
			<p>We believe the web to be an amazing platform to express, connect and create in diverse ways.</p>
			<p>But we are not delusional about technology being a magical thing who would fulfill & liberate humanity.</p>
			<p>That&rsquo;s why we are focusing on <strong>web quality</strong>, <strong>accessibility</strong>, <strong>privacy</strong> and <strong>maintainability</strong> to deliver the more <strong>ethical</strong> human-sized projects possible.<br>We do what we think is right and without bullshit.</p>
			<p>Along with that we&rsquo;re helping other organizations embracing those values one radical step at a time.</p>
			<p>And some times we just do projects for fun!</p>
		</div>
	</article>
</section>

<div class="mt-section2 mb-section2 md:mt-section md:mb-section">
	{% include "components/marquee.njk" %}
</div>

<!-- Work -->
<section class="page-home:section container mt-section">
	<div class="page-home:section_title">
		<h2 id="work">Our work</h2>
		<a class="anchor" href="#work">
			<span aria-hidden="true">∴</span>
			<span class="visually-hidden">Section titled Our work</span>
		</a>
	</div>

	<article class="layout-12 mb-section">
		<h3 class="title-1">Non-profits we work with<span class="visually-hidden">:</span> <span class="subtitle">Organizations we currently support in their mission</span></h3>
		<ul class="page-home:projects">
			<li class="page-home:project">
				<div class="page-home:project_logo">{% include "logo-deuxfleurs.svg" %}</div>
				<a class="page-home:project_name" href="https://deuxfleurs.fr">Deuxfleurs</a>
				<p class="page-home:project_abstract">Offers web-hosting without datacenter and using only consumer-grade refurbished hardware</p>
			</li>
			<li class="page-home:project">
				<div class="page-home:project_logo">{% include "logo-flora.svg" %}</div>
				<a class="page-home:project_name" href="https://flora.pm">Flora.pm</a>
				<p class="page-home:project_abstract">An alternative Haskell package index with the goal of improving developer experience for the ecosystem</p>
			</li>
		</ul>
	</article>

	<article class="layout-12 mb-section2">
		<h3 class="title-1 sticky">Our own projects<span class="visually-hidden">, </span> <span class="subtitle text-balance sm:text-wrap">Sources available on <a href="https:/github.com/GuerillaStudio">Github</a> and <a href="https://git.deuxfleurs.fr/GuerillaStudio">Deuxfleurs forge</a></span></h3>
		<ul class="page-home:projects">
			{% for project in projects %}
			<li class="page-home:project">
				<a class="page-home:project_name" href="{{ project.url }}">{{ project.name}}</a>
				<p class="page-home:project_abstract">{{ project.abstract }}</p>
			</li>
			{% endfor %}
		</ul>
	</article>

</section>
