---
layout: layouts/base.njk
eleventyNavigation:
  key: About
  order: 1
---

<h1 class="slogan">A Radical Cyber Products Studio ∴ by two women and a cat in a trench-coat</h1>

<div class="announce">
	<img
		class="floating-raccon"
		src="/raccoon-knife-illu.png"
		srcset="/raccoon-knife-illu.png 1x, /raccoon-knife-illu@2x.png 2x"
		width="100"
		height="71"
		alt="A raccoon holding a switchblade in its mouth"
	>
	We gave our website to raccoons in need of material to throw at anti-riot police, so this is just what we have for now.<br> We're gonna build another website later, it's okay, always fuck the police first!&nbsp;✊
</div>

<p>In the waiting, you can look at some of our projects (most of the sources are available on our <a href="https://github.com/GuerillaHQ">Github</a>):</p>
<ul>
	<li><a href="https://placehold.in">Placehold.in</a>&nbsp;— A Simple Image Placeholder</li>
	<li><a href="https://compteurdegreve.fr">CompteurDeGreve.fr</a>&nbsp;— An independent participation counter for the french strike of March 7th 2023 against the pension reform(/destruction)</li>
	<li><a href="https://souvenir.cam">Souvenir</a>&nbsp;— Capture few seconds of your webcam/camera and generate a gif</li>
	<li><a href="https://radio.eldritch.cafe">Eldritch Radio</a>&nbsp;— A Mastodon based music webradio</li>
	<li><a href="https://vanillalist.top">Vanilla List</a>&nbsp;— A vanilla JavaScript plugins repository</li>
	<li><a href="https://music.guerilla.studio">Now Playing</a>&nbsp;— A collection of handpicked music albums we like</li>
	<li><a href="https://inspiration.guerilla.studio">Moodblog</a>&nbsp;— An unorganized patchwork from our graphic researches</li>
</ul>
<p>Or feel free to follow what we say (nothing very interesting I'm afraid):</p>
<ul>
	<li><span aria-hidden="true">🐘&nbsp;</span><a href="https://mastodon.guerilla.studio/@milia" rel="me">Milia on Mastodon</a></li>
	<li><span aria-hidden="true">🐘&nbsp;</span><a href="https://mastodon.guerilla.studio/@tixie" rel="me">Tixie on Mastodon</a></li>
	<li><span aria-hidden="true">☠️&nbsp;</span><a href="https://twitter.com/GuerillaHQ">The Studio on Twitter</a></li>
</ul>
