<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ title or metadata.title }}</title>

		<meta name="description" content="{{ description or metadata.description }}">
		<meta itemprop="description" content="{{ description or metadata.description }}">

		<meta name="author" content="{%- if author %}{{ author }}{% else %}{{ metadata.author.name }}{% endif %}">
		<meta itemprop="author" content="{%- if author %}{{ author }}{% else %}{{ metadata.author.name }}{% endif %}">
		<link rel="author" href="{%- if author %}{{ author }}{% else %}{{ metadata.author.name }}{% endif %}">
		<meta name="fediverse:creator" content="{%- if author and author.fedi_nickname %}{{ author.fedi_nickname }}{% else %}{{ metadata.author.fedi_nickname }}{% endif %}"/>

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0e0e0e">

		<meta name="msapplication-TileColor" content="#0e0e0e">
		<meta name="theme-color" content="#cf173f">

		{# General OG tags #}
		<meta property="og:image:width" content="{{ social_card_width or '1200' }}">
		<meta property="og:image:height" content="{{ social_card_height or '650' }}">
		<meta property="og:description" content="{{ description or metadata.description }}">
		<meta property="og:title" content="{{ title or metadata.title }}">
		<meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
		<meta property="og:image" content="{{ metadata.url }}{{ (social_card_url or '/og-image-02.png') }}">
		{%- if layout !== "layouts/post.njk" %}
		<meta property="og:type" content="website">
		{% endif %}
		{# Blog post OG tags #}
		{%- if layout === "layouts/post.njk" %}
		<meta property="og:type" content="article">
		<meta property="article:author" content="{%- if author and author.name %}{{ author.name }}{% else %}{{ metadata.author.name }}{% endif %}">
		<meta property="article:published_time" content="{{ date.toISOString() }}">
		{% endif %}

		{#- Atom and JSON feeds #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
		{# Eleventy ❤︎ #}
		<meta name="generator" content="{{ eleventy.generator }}">

		{# Inline all the CSS for now (since it's quite small) #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		<style>{% getBundle "css" %}</style>
		{# <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header class="header container">
			<a class="logo" href="/" aria-label="Home" title="Home">
				{% include "logo-inline.njk" %}
			</a>
			<nav aria-label="Top level navigation menu">
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip" class="main container">
			{{ content | safe }}
		</main>

		<footer class="footer">
			{% include "footer-signature.njk" %}
		</footer>
		<script type="module" src="/is-land.js"></script>
	</body>
</html>
