<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or metadata.title }}</title>

	<link rel="preload" href="/img/raccoon-dark.svg" as="image" type="image/svg+xml" fetchpriority="high"/>
	<link rel="preload" href="/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2" as="font" type="font/woff2" crossorigin>

	{% include "components/metatags.njk" %}
	<link rel="canonical" href="{{ page.url | absoluteUrl }}" />

	{#- Atom feed #}
	<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

	<style>{% include "style/base.css" %}</style>
	<style>{% getBundle "css" %}</style>

</head>
<body>
	{% include "components/skip-links.njk" %}
	<header class="header container">
		<a href="/" class="header-logo" aria-label="Home">{% include "logo.svg" %}</a>
		<nav class="header-nav">
			<ul role="list">
				{% for entry in navigation %}
				<li>
					<a
						href="{{ entry.url }}"
						class="{% if entry.url | isCurrentOrParent %}current{%endif%}"
						{% if entry.url | isCurrent %}aria-current="page"{%endif%}
					>{{ entry.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</header>
	<main id="main">
		{{ content | safe }}
	</main>
	<footer class="footer">
		<div class="container relative">
			<div class="footer-sticker">
				<img eleventy:ignore src="/img/sticker-raccoon.svg" alt="" loading="lazy">
			</div>
			<div class="footer-contact" id="contact">
				<h2 class="footer-contact_title">Wanna say <span class="colored">hi</span>?</h2>
				<ul class="footer-contact_links" role="list">
					<li><a href="mailto:hi@guerilla.studio">hi@guerilla.studio</a></li>
					<li><a href="https://mastodon.guerilla.studio/@GuerillaHQ" rel="me">Mastodon</a></li>
					<li><a href="https://bsky.app/profile/guerilla.studio">BlueSky</a></li>
					<li><a href="https://www.instagram.com/guerilla.studio_/">Instagram</a></li>
				</ul>
			</div>
			<div class="footer-bottom">
				<div class="footer-bottom_side">
					© Guérilla.Studio · <a href="/legal">Legal &amp; Credits</a>
				</div>
				<div class="footer-bottom_side">
					Site <a href="https://github.com/GuerillaStudio/guerilla.studio">source</a> under <a href="https://github.com/GuerillaStudio/guerilla.studio/blob/main/LICENSE">“I'm so tired”</a> license
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
