---
layout: layouts/base.njk
---

<style>{% include "style/page-content.css" %}</style>
<style>{% include "node_modules/prismjs/themes/prism-okaidia.css" %}</style>

{% set heroNoIllu = true %}
{% set heroTitle = title %}
{% set heroBlogBack = true %}
{% set heroDate = page.date %}
{% include "components/hero.njk" %}

<div class="page-content">
	<div class="page-content:container writing">
		{{ content | safe }}

		{% include "components/signature.njk" %}
	</div>
</div>
